

html {
  font-family: sans-serif;
}


/*header */

header{
  height: 80px;
  line-height: 80px;
  background-color:#0068C1;
  font-weight: 450;
  font-size: 20pt;
  box-shadow: 0px 8px 8px 0px;
  margin: 12px;
}

.luDownload{
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.logo{
  float: left;
  padding: 0px 15px;
}

nav{
  float: right;
  margin-right: 15px;
  font-size: 13pt;
  line-height: 20px;
  margin-top: 20px;
  text-align: right;
}

Nav ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

Nav li{
  float:right;
  padding-left:  6px;
  padding-right: 6px;
}

header a {
  text-decoration: none;
  color:white;
}

header {
  text-decoration: none;
  color:white;
}

nav li:hover{
  background-color: white;
  color:#0068C1;
  padding-bottom: 1px;
}

header a:hover{
  background-color: white;
  color:#0068C1;
}


/*Main*/

.background {
background: linear-gradient(to bottom, #fff, #ceefef);
border-bottom: 1px solid rgba(5,176,228,0.3);
}

/*map*/

#sidebar {
  margin-left: 10px;
}


#map {
  
 flex: 7;
 height: 600px;
 z-index: 1;
}
/*map*/

#message-box > * {
  background-color: grey;
}


form label{
  font-size: 8pt;

}

#lc_status{
  font-size: 8pt;
}


form{
  font-weight: 700;
  font-size: 10pt;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

form > input:hover{
  background-color: lightgray;
}

form > input:focus{
  background-color: lightgray;
}

.flex1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

form > title{
  color: blue;
}

.plant-form{ 
  flex:1;
}

.LULC-form{
  flex:1;
}



.run{
  flex: 2;
  align-self: center;
}

.run-LULC{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}




.changes{
  display: block;
  overflow-y: auto;
  max-height: 600px;
}

th{
  position: sticky;
  top: 0;
  background:#0068C1;
  color:white;
}

table{
  font-weight: 500;
  font-size: 10pt;
  background-color: white;
  border: 2px solid black;
  margin: 10px;
  margin-right: 0px;
}



table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  padding:8px
}

a{
  text-decoration: none;
}

optgroup{
  content: attr(label);
  display: block;
  background-color: black;
}

.lulc-edit-button{
  float: right;
}



.pop-up-lu {
  display: none;
  position: fixed;
  bottom: 0;
  left: 225px;
  
  z-index: 500;
}


.pop-up-plant {
  display: none;
  position: fixed;
  bottom: 0;
  left:15px;
  
  z-index: 500;
}


 .openPlantForm:hover {
  opacity: 1;
}
.openLuForm:hover {
  opacity: 1;
}

/*footer*/

.flex2{ 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.hydrograph{
  background-color: white;
  margin: 3px;
  height: 300px;
  flex: 6;
  border: solid black 2px;
}

.output-table{
  background-color: white;
  margin: 10px;
  height: 300px;
 flex: 1;
 border: solid black 2px;
}

.download{
  background-color: white;
  margin: 3px;
  height: 300px;
  flex: 1;
  border: solid black 2px;
}

.openLuForm {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin:3px;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.openPlantForm {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin:3px;
  bottom: 23px;
  left: 28px;
  width: 280px;
}